.nav {
  background-color: #317F98;
  margin: 10px;
  grid-area: n;
  padding: 10px;
  display: flex;
  flex-flow: column wrap
}

.item {
  
}

.item a {
  color: black
}

.item a:active,
.item a:focus {
  color: #C4E9F5;
}