.newsWrapper {
  padding: 10px;
}

.newsItem a {
  color: black
}

.newsItem a:active,
.newsItem a:focus {
  color: #C4E9F5;
}

.addNewsWrapper {
  display: flex;
  margin: 10px 10px 10px 0;
}

.addNewsWrapper textarea {
  margin: 0 10px 0 0;
}

.addNewsWrapper button {
  height: 26px;
  margin: auto 0;
}
