.app-wrapper {
  background-color: #C4E9F5;
  width: 1200px;
  margin: 10px;
  display: grid;
  margin: 0 auto;
  
  grid-template-areas: 
  "h h"
  "n c";

  grid-template-rows: 90px 1fr;
  grid-template-columns: 2fr 10fr;
}