.app-wrapper {
  background-color: #C4E9F5;
  width: 1200px;
  margin: 10px;
  display: grid;
  margin: 0 auto;
  min-height: 1000px;
  
  grid-template-areas: 
  "h h"
  "n c";

  grid-template-rows: 90px 1fr;
  grid-template-columns: 2fr 10fr;
}

.app-wrapper-content {
  display: flex;
  background-color: #80A4B0;
  margin: 10px;
  grid-area: c;
}

.app-wrapper a {
  text-decoration: none;
}
