.dialogs {
  color: black;
  display: flex;
  padding: 10px;

}

.dialogItem {
  width: 160px;
}

.dialogItem .active {
  color: #C4E9F5;
}

.dialog a {
  color: black
}

.dialog a:active,
.dialog a:focus {
  color: #C4E9F5;
}

.messages {}

.message {}