.dialogs {
  color: black;
  display: flex;
  padding: 10px;
}

.dialogItem {
  width: 160px;
}

.dialogItem .active {
  color: #C4E9F5;
}

.dialogWrapper {
  display: flex;
  flex-direction: column;

}

.addNewMessage {
  display: flex;
  
}

.addNewMessage textarea {
  height: 26px;
  margin: 10px 10px 10px 0;
  min-width: 200px;
}

.addNewMessage button {
  height: 26px;
  margin: auto 0;
}